# Zoom Server-to-Server OAuth credentials
# Obtenelas en https://marketplace.zoom.us/develop/create (Server-to-Server OAuth)
ZOOM_ACCOUNT_ID=your_zoom_account_id_here
ZOOM_CLIENT_ID=your_zoom_client_id_here
ZOOM_CLIENT_SECRET=your_zoom_client_secret_here
